huggingface-hub==1.2.3
langchain-core==1.2.7
langchain-openai==1.1.7
langchain_mcp_adapters==0.2.1
langchain==1.2.7
langgraph==1.0.7
langsmith==0.6.4
pydantic==2.12.5
pydantic-core==2.41.5
pyyaml==6.0.3
requests==2.32.5
tokenizers==0.22.1
tqdm==4.67.1
ipykernel==7.1.0
python-dotenv==1.2.1
uvicorn==0.40.0
